.leftImage{
	width: 100%;
	height: 100%;
	opacity: .5;

}

.leftDiv{
	padding-left: 0;
	padding-right: 0;
}

.rightDiv{
	background-color: #132030;
	height: 44.45vw;
}

.wholeDiv{
	display: inline-block;
}